<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Post a Car</h1>
    <form action='/see_post' method="post">
        <label for="make">Make: </label>
        <input type="text" name="make" value="">
        <label for="price">Price: </label>
        <input type="text" name="price" value="">
        <label for="mileage">Mileage: </label>
        <input type="text" name="mileage" value="">
        <button type="submit">Post</button>
    </form>
    <form action='/find_cars' >
        <button type='submit'>Find Cars</button>
    </form>
    <form action='/' >
        <button type='submit'>Home</button>
    </form>
</body>
</html>
