<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Carlos' and Phil's Car Emporium</h1>
    <form action='/find_cars' >
        <button type='submit'>Find Cars</button>
    </form>
    <form action='/post_car' >
        <button type='submit'>Post a Car</button>
    </form>
</body>
</html>
